.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.css-1nrlq1o-MuiFormControl-root {
  width: 100%;
}

.formik-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .submit-btn {
    display: flex;
    justify-content: center;

    button {
      width: 300px;
    }
  }
}

.error {
  color: red
}